
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
.section{
    display: block;
    text-align: center;
    padding: 75px;
    font-size: 24px;
    font-family: 'Quicksand',sans-serif;   
}
.music{
    background-color: #FF9100;   
}
.bio-engineering{
    background-color: #FF9100;   
}
.section a{
    color: #424242;
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
    width: 100px;
}