html,body{
    height: 100%;   
}
body{
    background-color: #FFF;
    position: relative;
}
.nav{
    padding-top: 5px;
    background-color: #651FFF;   
}

.nav a{
    background-color:#1DE9B6;
    color: #651FFF;
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.nav li{
    display: inline;
}
.jumbotron{
    background-color: #FFEA00;
    font-family: 'Quicksand',sans-serif;    
    text-align: center;
    padding: 100px;
    margin-bottom: 0px;
}
.jumbotron h1{
    font-weight: bold;
}

.about{    
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #FF9100;
    padding: 75px;
    text-align: center;
}
.abouts{    
    font-size: 24px;
    font-family: 'Quicksand',sans-serif;    
}
.school{
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #FFF;
    padding: 75px;
    text-align: center;    
}

.projects{
    padding: 50px;
    background-color: #FFF;
    font-family: 'Droid Sans', sans-serif;
    
}
.projects h2{
    font-weight: bold;
}
.link-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;    
}
.featured-projects .link-logo{
    box-shadow: 3px 2px 5px grey;
}
 .current-projects .link-logo{
    position: relative;
     bottom: 50px;
 }

.scroll-top-wrapper {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}

footer{
    background-color: #FFEA00;
    padding: 50px;
}
footer p{
    font-size: 12px;
    font-family: 'Quicksand',sans-serif;
}