body{
    background-color: #FFF;   
}
.nav a{
    color: #5a5a5a;
    font-size: 11px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
}
.jumbotron{
    background-color: #FFEA00;
    font-family: 'Quicksand',sans-serif;    
    text-align: center;
    padding: 100px;
    margin-bottom: 0px;
}
.jumbotron h1{
    font-weight: bold;
}

.about{    
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #69F0AE;
    padding: 75px;
    text-align: center;
}
.about p{    
    font-size: 24px;
    font-family: 'Quicksand',sans-serif;    
}

.projects{
    background-color: #18FFFF;
}
.current-projects{    
    font-family: 'Droid Sans', sans-serif;    
}
.current-projects h2{
    font-weight: bold;
}
.link-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;    
}
.featured-projects .link-logo{
    box-shadow: 3px 2px 5px grey;
}
 .current-projects .link-logo{
    position: relative;
     bottom: 50px;
 }
.nav li{
    display: inline;
}

